.normal{
    font-size: 16px;
    padding: 4px;
    border: solid 1px;
}
.active{
    font-size: 16px;
    padding: 4px;
    border: solid 1px;
    background: #14a7ed;
    color: #fff;
    border: solid 1px transparent;
}